.btn {
	background-color: lightslategray;
	padding: 15px 20px;
	border-radius: 10px;
	color: ghostwhite;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
}

.btn-blue {
	background-color: black;
	padding: 15px 20px;
	border-radius: 10px;
	color: ghostwhite;
	font-family: 'Bebas Neue', sans-serif;
	margin: 20px;
}
